In [1]:
import pandas as pd
import joblib
from PIL import Image
import numpy as np
from numpy import asarray
import cv2
import tensorflow as tf
from tensorflow.keras.applications.imagenet_utils import decode_predictions

In [ ]:
pwd

In [ ]:
ls

In [2]:
model = joblib.load('model.joblib', mmap_mode=None)

In [3]:
img_data = 'Image_matjari_test.png'

In [4]:
uploaded_png = Image.open(img_data)

In [5]:
converted_png_img = uploaded_png.convert('RGB')

In [6]:
img = asarray(converted_png_img)

In [7]:
img.shape

(192, 194, 3)

In [8]:
X_new = cv2.resize(img,(256,256),3)

In [9]:
X_new = np.expand_dims(X_new, axis=0)

In [10]:
X_new.shape

(1, 256, 256, 3)

In [11]:
y_pred = model.predict(X_new)

In [12]:
labels = ['Bag', 'Bed Linen', 'Blanket', 'Box', 'Bracelet', 'Candle',
       'Coaster', 'Cushion Cover', 'Dress', 'Earring', 'Face Care',
       'Food', 'Gift Box']

In [13]:
labels

['Bag',
 'Bed Linen',
 'Blanket',
 'Box',
 'Bracelet',
 'Candle',
 'Coaster',
 'Cushion Cover',
 'Dress',
 'Earring',
 'Face Care',
 'Food',
 'Gift Box']

In [14]:
label_df = pd.DataFrame(labels, columns = ['labels'])

In [15]:
label_df

           labels
0             Bag
1       Bed Linen
2         Blanket
3             Box
4        Bracelet
5          Candle
6         Coaster
7   Cushion Cover
8           Dress
9         Earring
10      Face Care
11           Food
12       Gift Box

In [16]:
y_pred = y_pred.tolist()

In [17]:
y_pred_col = y_pred[0]

In [18]:
label_df['probabilities'] = y_pred_col

In [19]:
label_df

           labels  probabilities
0             Bag       0.576881
1       Bed Linen       0.000108
2         Blanket       0.038600
3             Box       0.091761
4        Bracelet       0.019933
5          Candle       0.007891
6         Coaster       0.033292
7   Cushion Cover       0.106383
8           Dress       0.031789
9         Earring       0.002782
10      Face Care       0.001503
11           Food       0.080708
12       Gift Box       0.008368

In [20]:
label_df = label_df.sort_values(by=['probabilities'],ascending=False)

In [21]:
label_df

           labels  probabilities
0             Bag       0.576881
7   Cushion Cover       0.106383
3             Box       0.091761
11           Food       0.080708
2         Blanket       0.038600
6         Coaster       0.033292
8           Dress       0.031789
4        Bracelet       0.019933
12       Gift Box       0.008368
5          Candle       0.007891
9         Earring       0.002782
10      Face Care       0.001503
1       Bed Linen       0.000108

In [22]:
label_df[0:5]

           labels  probabilities
0             Bag       0.576881
7   Cushion Cover       0.106383
3             Box       0.091761
11           Food       0.080708
2         Blanket       0.038600

In [23]:
label_df[0:5]['labels'].iloc[0]

'Bag'

In [24]:
label_df[0:5]['labels'].iloc[1]

'Cushion Cover'

In [25]:
label_df[0:5]['labels'].iloc[2]

'Box'

In [26]:
label_df[0:5]['labels'].iloc[3]

'Food'

In [27]:
label_df[0:5]['labels'].iloc[4]

'Blanket'